<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS Service API</title>
    <link rel="icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
    <link rel="shortcut icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="application/x-javascript">
    addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
  </script>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style2.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/x-icon" href="file/sms-icon-5460-16x16.ico">
    <link rel="shortcut icon" type="image/x-icon" href="file/sms-icon-5460-16x16.ico">
    <link rel='stylesheet prefetch' href="vorder/bootstrap.min.css">
    <script src="vorder/jquery-1.11.1.min.js"></script>
    <script src="vorder/bootstrap.min.js"></script>
    <link rel="stylesheet" href="vorder/normalize.min.css">
    <link rel='stylesheet prefetch' href='vorder/font-awesome.min.css'>
    <link href="css/reset.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="css/cursor.css">
    <style>
        .hidden {
            display: none;
        }

        #myDIV {
            width: 100%;
            padding: 50px 0;
            text-align: center;
            background-color: pink;
            margin-top: 20px;
        }

        #myDIV2 {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            background-color: azure;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images/sms.png" style="width: 60px; height: 40px; margin: -8px;">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="active" href="/home">
                            <span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li class="dropdown">
                        <a style="background-color: pink; color: black" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="glyphicon glyphicon-phone"></span> SMS service
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">one person</li>
                            <li>
                                <a href="/user">SMS form</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">multiple person</li>
                            <li>
                                <a href="/upload">Upload file</a>
                            </li>
                            <li>
                                <a href="/show">Contact list</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact">
                            <span class="glyphicon glyphicon-envelope"></span> Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="dropdown-item" href="/home">
                            <span class="glyphicon glyphicon-user"></span> Profile</a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>

    <div class="row">
        <div class="container">
            <div id="myDIV">
                <center>
                    <h1 style="color: brown">Edit Contact</h1>
                    <span>This page allows you to edit your user contact.</span>
                </center>
            </div>
            <br>
            <br>
            <div class="col-lg-6">
                <img src="images/h1.jpg" style="width: 100%; height:0.5%">
            </div>
            <div class="modal-content col-lg-6">
                <div class="modal-header">
                    <center>
                        <h4 class="modal-title custom_align" id="Heading">Edit contact</h4>
                    </center>
                </div>
                <div class="modal-body">
                    <form action="/edit" method="post">
                        <input class="form-control" type="hidden" id="_id" name="_id" value="{{ result._id }}" required>
                        <div class="form-group">
                            First Name
                            <input class="form-control" type="text" id="first" name="first" value="{{ result.first }}" required>
                        </div>
                        <div class="form-group">
                            Last Name
                            <input class="form-control" type="text" id="last" name="last" value="{{ result.last }}" required>
                        </div>
                        <div class="form-group">
                            Telephone number
                            <input class="form-control" type="text" id="tel" name="tel" value="{{ result.tel }}" required>
                        </div>
                        <div class="form-group">
                            Mobile
                            <select class="form-control" id="mobile" name="mobile">
                                <option value="AIS" selected="selected">AIS</option>
                                <option value="Dtac">Dtac</option>
                                <option value="Truemove-H">Truemove-H</option>
                            </select>
                        </div>
                        <div class="form-group">
                            Message
                            <textarea rows="2" class="form-control" id="meg" name="meg" required maxlength="70">{{ result.meg }}</textarea>
                        </div>
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;">
                        <span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="myDIV2">
        <div class="row" style="padding-top: 120px; width: 100%; display: inline-block">
            <div class="copyright">
                <p style="color:black">Copyright &copy; 2017 | Developed by
                    <a href="https://web.facebook.com/JIch01beer" target="_blank" style="color:orange">
                        Jirayu Chinnawong </a>
                    <br>Information Technology | Faculty of Technology and Environment | Prince of Songkla University, Phuket
                    Campus
                    <br> Email: jirayu_ch01@hotmail.com | Tel: (+66)95019-3878 | Github:
                    <a href="https://github.com/jirayuch01/" target="_blank" style="color:orange"> @jirayuch01 </a>
                </p>
            </div>
        </div>
    </div>

    <script src='vorder/jquery.min.js'></script>
</body>

</html>